.DS_Store
.env*
*.env
.gradle/
!**/gradle/wrapper/gradle-wrapper.jar
.idea/
*.iws
*.iml
*.ipr
.run/
.vscode/

bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

build/
!**/src/main/**/build/
!**/src/test/**/build/

dist/
!**/src/main/**/dist/
!**/src/test/**/dist/

out/
!**/src/main/**/out/
!**/src/test/**/out/

target/
!**/src/main/**/target/
!**/src/test/**/target/
